@import './toolbox';

.panel {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;

  &:nth-of-type(2) {
    background: $black;
    color: $white;
    overflow-y: scroll;
  }

  > div {
    padding: $spacing;
  }
}
