@import './toolbox';

.slides {
  .slides__item {
    display: inline-block;
    margin: $spacing;
    text-align: center;
    vertical-align: top;

    &.-highlighted {
      border: 1px solid $yellow;
    }

    &.-highlighted-live {
      border: 1px solid $red;
    }

    img {
      width: 150px;
      height: 150px;
    }

    span {
      width: 150px;
    }

    img, span {
      display: block;
    }
  }
}
