@import './toolbox';

.voice {
  > div {
    width: 100%;
  }

  input {
    font-size: 1rem;
    display: block;
    width: 90%;
    padding: $halfSpacing;
    margin: auto;
  }

  .voice__display {
    display: inline-block;
    text-align: center;
    margin: $spacing;
    padding: $halfSpacing;

    &.-highlighted {
      border: 1px solid $yellow;
    }

    img {
      width: 150px;
      height: 150px;
    }
  }
}
